<footer>
  <div>
    <div class="nav-socials">
      <img src="../assets/images/logo.png" alt="Logo" class="logo">
      <nav class="quick-links">
        <a href="#" class="nav-link">Goals</a>
        <a href="#" class="nav-link">Purposes</a>
        <a href="#" class="nav-link">Target & Indicators</a>
        <a href="#" class="nav-link">Events</a>
        <a href="#" class="nav-link">Timeline</a>
      </nav>
      <div class="social-links">
        <span>Follow Us</span>
        <a href="#">
          <img src="../assets/icons/facebook/facebook_base.svg" alt="Facebook">
        </a>
        <a href="#">
          <img src="../assets/icons/instagram/instagram_base.svg" alt="Instagram">
        </a>
      </div>
    </div>
    <div class="newsletter">
      <span>Let's Stay Connected!</span>
      <form action="">
        <input type="text" placeholder="Your Email">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div>
    <nav>
      <a href="#" class="nav-link">Contact Us</a>
      <div class="divider"></div>
      <a href="#" class="nav-link">Fraud Alert</a>
      <div class="divider"></div>
      <a href="#" class="nav-link">Privacy Notice</a>
      <div class="divider"></div>
      <a href="#" class="nav-link">Terms of Use</a>
    </nav>
    <span>&copy; Sustainable Earth Foundation. All Rights Reserved.</span>
  </div>
  <div>
    <span class="made-by">Copyright @
      <script>document.write(new Date().getFullYear())</script> ChiefWoods & xhtime
    </span>
    <a class="github-link" href="https://github.com/ChiefWoods/sustainable-earth-foundation" target="_blank">
      <img src="../assets/icons/github/github.svg" class="github-icon" alt="GitHub">
    </a>
  </div>
</footer>
