<header>
  <a href="/src/html/index.html" class="branding">
    <img src="../assets/images/logo.png" alt="Logo" class="logo">
    <div class="divider"></div>
    <h1>Sustainable Earth Foundation</h1>
  </a>
  <nav>
    <a href="" class="nav-link">Home</a>
    <a href="" class="nav-link">Sticky Wall</a>
    <a href="" class="nav-link">Rewards</a>
    <a href="" class="nav-link">Profile</a>
    <button class="login-btn">Login</button>
    <button class="notification-btn">
      <img src="../assets/icons/notification/notification_base.svg" alt="Notification">
    </button>
  </nav>
</header>