.manage {
  background: white;
  margin: 70px;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head {
  display: flex;
  align-items: center;
  gap: 15px;
}

.head > img {
  width: 35px;
}

.head > h2 {
  font-size: var(--font-l);
}

.search {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
}

.search > input {
  width: 500px;
  height: 30px;
  border-radius: 12.5px;
  border: 1px solid;
  padding-inline: 10px;
  font-size: var(--font-m);
}

.search > button {
  background: var(--sdg-orange);
  border: none;
  color: white;
  font-size: var(--font-m);
  padding: 5px 10px;
  border-radius: 6px;
}

.search > button:hover {
  background: var(--button-hover-orange);
}

table {
  text-align: center;
  background: #EDEDED;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

thead > tr:first-child {
  font-size: var(--font-m);
  background: #edeaff;
}

th {
  height: 50px;
  font-weight: 400;
}

td {
  height: 50px;
  font-size: var(--font-m);
}