:root {
  --navy-blue: #2B5292;
  --light-blue: #77a0de;
  --sdg-orange: #FF8D0B;
  --button-hover-orange: #d78c00;
  --footer-beige: #FFF8F1;
  --target-yellow: #FFC700;
  --target-light-orange: #FF9900;
  --target-dark-orange: #FF7A00;
  --timeline-num-darkpink: #CC0033;
}