@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --font-xl: 3rem;
  --font-l: 2.5rem;
  --font-m: 2rem;
  --font-s: 1.5rem;
  --font-xs: 1rem;
}

* {
  font-family: 'Libre Baskerville', serif;
}
