@import '../css/colors.css';
@import '../css/fonts.css';
@import '../css/utility.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --github-black: #0D1117;
  --header-height: 100px;
}

html {
  font-size: 62.5%;
}

body {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  width: calc(100vw - (100vw - 100%));
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 50px;
  background: transparent;
  height: var(--header-height);
  border-bottom: 1px solid black;
}

header > div {
  display: flex;
  justify-content: space-between;
  background: white;
}

.branding {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 125px;
}

.divider {
  content: "";
  width: 2.5px;
  height: var(--font-xl);
  background: var(--sef-navy-blue);
}

.branding h1 {
  font-size: var(--font-l);
  color: var(--sef-navy-blue);
  white-space: nowrap;
}

/* Nav */

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav > a {
  text-decoration: none;
}

.nav-link {
  font-size: var(--font-s);
  color: black;
  white-space: nowrap;
  background: transparent;
  border: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
}

#login-btn {
  font-size: var(--font-s);
  background: var(--sef-navy-blue);
  border: 2px solid var(--sef-navy-blue);
  color: white;
}

#login-btn:hover {
  background: white;
  color: var(--sef-navy-blue);
}

#manage-btn {
  cursor: pointer;
}

.icon {
  height: 30px;
  aspect-ratio: 1/1;
}

#notification-btn {
  cursor: pointer;
  background: transparent;
  border: none;
}

.dropdown {
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  align-self: flex-end;
  background: white;
  position: absolute;
  top: var(--header-height);
  border: 2px solid var(--sef-navy-blue);
  border-top: none;
  display: none;
}

.dropdown > li {
  width: 100%;
}

.dropdown > li > a {
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 15px;
}

.dropdown > li:hover {
  background: var(--bg-light-blue);
}

.dropdown-content {
  font-size: var(--font-s);
}

.dropdown > li:hover .dropdown-content {
  font-weight: bold;
}