main#login {
  background: url(../assets/backgrounds/login_bg.png) center/cover no-repeat;
}

main#sign-up {
  background: url(../assets/backgrounds/sign_up_bg.jpg) center/cover no-repeat;
}

section {
  padding: 70px;
}

main form {
  width: 400px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 50px;
  text-align: center;

  & > fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;

    & > legend {
      font-size: var(--font-m);
      margin-bottom: 20px;
    }

    & > .form-control {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      & > input {
        padding-block: 10px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        width: 100%;

        &.success {
          border-bottom-color: green;
        }

        &.error {
          border-bottom-color: red;
        }

        & + p {
          font-size: var(--font-xs);
          text-align: start;
          min-height: 40px;
        }
      }
    }

    & > button {
      background: var(--btn-orange);
      width: 100%;
      color: white;
      width: 100%;
      max-width: 200px;
      border: none;

      &:hover {
        background: var(--btn-hover-orange);
      }
    }
  }

  & > a {
    font-size: var(--font-xs);
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
      font-weight: bold;
    }
  }
}