:root {
  --login-button-radius: 30px;
}

main {
  background: var(--light-blue);
}

.welcome {
  background: url(../assets/backgrounds/login_bg.png);
  background-position: center left 100px;
  background-size: cover;
  margin: 70px;
  border-radius: 15px;
}

.login-form {
  width: 400px;
  height: 500px;
  background: white;
  border-radius: 15px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.login-form > div > * {
  width: 100%;
}

.login-form h2 {
  font-size: var(--font-l);
  text-align: center;
}

.login-form input {
  border: none;
  border-bottom: 1.5px solid black;
  padding-block: 10px;
  outline: none;
}

.login-form button {
  background: var(--sdg-orange);
  color: white;
  border: none;
  border-radius: var(--login-button-radius);
  padding: 8px;
  font-size: var(--font-m);
  cursor: pointer;
  margin-top: 15px;
}

.login-form button:hover {
  background: var(--button-hover-orange);
}

.login-form > a {
  font-size: var(--font-s);
  color: black;
  text-underline-offset: 2px;
  margin-top: 20px;
}

.login-form > a:hover {
  font-weight: 600;
}
