main {
  background: var(--bg-dark-blue);
}

/* Profile */

#profile {
  padding: 70px;
  display: flex;
  gap: 30px;
}

#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: white;
  border: 6px solid lightgrey;
  border-radius: 15px;
  padding: 30px;
  width: 350px;
}

#image-btn {
  background: transparent;
  border: none;
  width: fit-content;
}

#profile-image {
  width: 150px;
  aspect-ratio: 1/1;
}

#username,
#points {
  font-size: var(--font-m);
}

#info {
  display: flex;
  gap: 30px;
  width: 100%;
}

#info > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background: white;
  border: 6px solid lightgrey;
  border-radius: 15px;
  padding: 30px;
  flex: 1;
}

#info h2 {
  font-size: var(--font-l);
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20px;
  align-items: center;
}

#info label {
  font-size: var(--font-s);
  white-space: nowrap;
}

#info input {
  font-size: var(--font-s);
  padding: 8px 5px;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

#info input::placeholder {
  color: black;
}

.update-btn {
  width: fit-content;
  align-self: flex-end;
  background: var(--btn-orange);
  border: none;
  color: white;
  font-weight: normal;
  font-size: var(--font-s);
}

.update-btn:hover {
  background: var(--btn-hover-orange);
}

/* History */

#history {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 0 70px 70px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #EDEDED;
  border-radius: 12px;
  table-layout: fixed;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

thead tr:first-child {
  background: white;
}

#table-title{
  font-size: var(--font-l);
  padding: 20px;
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

th,
td {
  height: 50px;
  border-bottom: 1px solid black;
  font-size: var(--font-s);
  font-weight: 400;
}

tr {
  text-align: center;
}

.table-col {
  font-weight: bold;
}

tbody tr:last-child td {
  border-bottom: none;
}