main {
  background: url(../assets/backgrounds/reward_bg.jpg) center/cover no-repeat;
}

section {
  margin: 70px;
  border-radius: 15px;
  background: var(--bg-sky-blue);
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

/* Top */

section > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

#head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  grid-column: 2/3;
}

#reward-icon {
  width: 35px;
}

#title {
  display: flex;
  gap: 15px;
  align-items: center;
}

#title > h2 {
  font-size: var(--font-l);
  white-space: nowrap;
}

#help-btn {
  background: transparent;
  border: none;
}

#help-icon {
  width: 20px;
}

#desc {
  font-size: var(--font-s);
}

#saved-points {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

#saved-points > span {
  font-size: var(--font-s);
}

#user-points {
  background: var(--footer-beige);
  border: 2px solid lightgrey;
  padding: 4px 8px;
  width: 150px;
  text-align: end;
  border-radius: 15px;
}

/* Reward-list */

.reward-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  width: 100%;
  justify-content: space-between;
  justify-items: center;
}

.reward-list > li {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
}

.reward-list > li > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px dotted black;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.reward-name {
  font-size: var(--font-m);
}

.reward-points {
  font-size: var(--font-s);
}

.redeem-btn {
  margin: 20px;
  width: fit-content;
  background: var(--btn-orange);
  border: none;
  color: white;
  font-size: var(--font-s);
}

.redeem-btn:hover {
  background: var(--btn-hover-orange);
}

#no-rewards {
  font-size: var(--font-m);
  text-align: center;
}